name: GitHub Pages

on:
  push:
    branches:
      - main  # 메인 브랜치에 push될 때마다 실행

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 체크아웃 코드
        uses: actions/checkout@v3

      - name: GitHub Pages 배포
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./  # 루트 디렉토리 기준, index.html 있는 곳
